<nav class="mm-menu js-mm-menu">
  <h4>Shop</h4>
  <ul>
  {% for link in linklists.shop.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
  <h4>Brands</h4>
  <ul>
  {% for link in linklists.brands.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
  <h4>Account</h4>
  <ul>
    <li>
      <a href="/account/register/">Sign Up</a>
    </li>
    <li>
      <a href="/account/login/">Log In</a>
    </li>
  </ul>
  <h4>Help</h4>
  <ul>
  {% for link in linklists.help.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</nav>
